@font-face {
  font-family: 'Bona Nova SC';
  src:
    local('Bona Nova SC Bold'),
    local('BonaNovaSC-Bold'),
    url('../fonts/BonaNovaSC-Bold.woff2') format('woff2'),
    url('../fonts/BonaNovaSC-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bona Nova SC';
  src:
    local('Bona Nova SC Regular'),
    local('BonaNovaSC-Regular'),
    url('../fonts/BonaNovaSC-Regular.woff2') format('woff2'),
    url('../fonts/BonaNovaSC-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bona Nova SC';
  src:
    local('Bona Nova SC Italic'),
    local('BonaNovaSC-Italic'),
    url('../fonts/BonaNovaSC-Italic.woff2') format('woff2'),
    url('../fonts/BonaNovaSC-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat Light'),
    local('Akrobat-Light'),
    url('../fonts/Akrobat-Light.woff2') format('woff2'),
    url('../fonts/Akrobat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat Regular'),
    local('Akrobat-Regular'),
    url('../fonts/Akrobat-Regular.woff2') format('woff2'),
    url('../fonts/Akrobat-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat ExtraLight'),
    local('Akrobat-ExtraLight'),
    url('../fonts/Akrobat-ExtraLight.woff2') format('woff2'),
    url('../fonts/Akrobat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat SemiBold'),
    local('Akrobat-SemiBold'),
    url('../fonts/Akrobat-SemiBold.woff2') format('woff2'),
    url('../fonts/Akrobat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat Thin'),
    local('Akrobat-Thin'),
    url('../fonts/Akrobat-Thin.woff2') format('woff2'),
    url('../fonts/Akrobat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat Bold'),
    local('Akrobat-Bold'),
    url('../fonts/Akrobat-Bold.woff2') format('woff2'),
    url('../fonts/Akrobat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat Black'),
    local('Akrobat-Black'),
    url('../fonts/Akrobat-Black.woff2') format('woff2'),
    url('../fonts/Akrobat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src:
    local('Akrobat ExtraBold'),
    local('Akrobat-ExtraBold'),
    url('../fonts/Akrobat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Akrobat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
