// Text colors
$text-color-primary: #2c322c;
$text-color-secondary: #818981;
$text-color-light: #f8f3ed;
$text-color-white: #ffffff;

// BG colors
$bg-color-1: #f8f3ed;
$bg-color-2: #ffffff;

// Utility colors
$utility-color-1: #e6dfd8;

// Utility colors
$accent-color-green: #4c5e36;
$accent-color-orange: #ff8a00;

// BREAKPOINTS
$breakpoint-xxs: 350px;
$breakpoint-xs: 428px;
$breakpoint-x: 599px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;

// TYPOGRAPHY
$font-family-base: 'Bona Nova SC', 'Inter', Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
